@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
*{

    font-family: "Open sans",sans-serif;
    
    
}
$midnight: #fff;
$clouds: #ecf0f1;
html{
    scroll-behavior: smooth;
}
.box{
    &1{
    background-image: url(../assets/hero.jpg);
    @media only screen and (max-width: 600px)  {
        background-image : url(../assets/mobile.jpg);
        height:745px !important;
    }
      
        &__overlay{
            background-color:#2C3E50;
           
        }
    }
    &2{
        background-position: 50% 0%;
    }
    &4{
      border-top-left-radius: 40%;
      border-top-right-radius: 40%;
      @media only screen and (max-width: 568px)  {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    }
}
.coffee{
    background-image: url(../assets/coffe.svg);
}
li:hover{
    .borderani{
        animation: border_anim 0.4s linear forwards;
    
    }
}

.slick-dots {
  width: 70%;
    right: 15%;
}
.slick-dots li button:before{
  color:#7C7C7C92;
  opacity: 57.4%;
  font-size: 14px;
  
}
.slick-dots li.slick-active button:before{
  color:#EE7892;
  opacity: 100%;
  ;
}


@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100% ;
	}
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  // Layout
  .row {
    display:flex;
    .col {
      flex:1;
      &:last-child {
        margin-left: 1em;
      }
    }
  }
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    
  }
  .tab {
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $midnight;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken($midnight, 10%);
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
        transform: rotate(90deg);
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      
      color: $midnight;
      background: white;
      transition: all .35s;
      
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $midnight;
      cursor: pointer;
      &:hover {
        background: darken($midnight, 10%);
      }
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      background: darken($midnight, 10%);
      &::after {
        transform: rotate(270deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
  